#ECCN: Open Source
#GUSINFO:Sweet Potatoes,Admissions Connect (MP) & Data Mover (MP)
*
# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers
